html {
  margin: 0;
  padding: 0;

  background-color: black;
}

html,
body {
  box-sizing: border-box;
}

body {
  width: 420mm;
  height: 594mm;

  padding: 10px;
  background-color: white;

  writing-mode: vertical-rl;
  text-orientation: mixed;

  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;

  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 10px;
}

.flex1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 10px;
}

.flex2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}

.titles {
  display: flex;
  gap: 10px;
}

.title {
  width: 300px;
  height: 670px;

  border: solid 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px 20px 20px;

  container-type: inline-size;
}

.title h2 {
  font-size: 40px;
}

.article p {
  font-size: 30px;
  padding-top: 10px;

  margin: 0;
  padding: 0;
}

.heading {
  height: 200px;
  writing-mode: horizontal-tb;

  border: solid 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heading h2 {
  font-size: 60px;
}

.article {
  height: 700px;

  padding-right: 20px;
  display: flex;
  flex-direction: row;
}

.flex1 .article {
  flex-grow: 1;
}

.advertisement {
  border: solid 10px;
  flex-grow: 1;

  padding: 10px;
  height: 670px;
}

.advertisement p {
  font-size: 30px;
  padding-top: 10px;

  margin: 0;
  padding: 0;
}

.advertisement h2 {
  font-size: 60px;
}

h1 {
  margin: 0;

  font-size: 110px;
}

h2 {
  margin: 0;

  font-size: 100px;
}

h4 {
  margin: 0;

  font-size: 40px;
}
