html {
  margin: 0;
  padding: 0;

  background-color: black;
}

html,
body {
  box-sizing: border-box;
}

body {
  width: 1500px;
  height: 2012px;

  padding: 10px;
  background-color: white;

  writing-mode: vertical-rl;
  text-orientation: mixed;

  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.titles {
  display: flex;
  gap: 10px;
}

.title {
  width: 300px;
  height: 600px;

  border: solid 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px 20px 20px;

  container-type: inline-size;
}

.title h2 {
  font-size: 40px;
}

.title-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.title-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 10px;
}

.articles {
  display: flex;
}

.article-content {
  width: 100%;
  height: 100%;
  font-size: 30px;
}

.article-content p {
  margin: 0;
  padding: 0;
}

.heading {
  border: solid 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heading h2 {
  font-size: 6cqw;
}

.article1 {
  width: 1100px;
  height: 670px;

  padding-right: 20px;
  display: flex;
  flex-direction: row;
}

.article1 .article-content {
  padding-top: 10px;
}

.article1 .heading {
  width: 1100px;
  height: 200px;

  container-type: inline-size;
  writing-mode: horizontal-tb;
}

h1 {
  margin: 0;

  font-size: 110px;
}

h2 {
  margin: 0;

  font-size: 100px;
}

h4 {
  margin: 0;

  font-size: 40px;
}
